<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>DASHBOARD</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/register">Sign in/Register</a></li>
    </ul>
    <h1>Hi {{username}}, welcome to the dashboard</h1>
  </body>
</html>
