<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Your page title</title>
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/register">Sign in/Register</a></li>
    </ul>
    <h1>Hi {{username}}</h1>
    <!--<p>
      Hi, my name is {{name}} and the date is {{date}}
    </p>
    <p>
      This is a partial => {{>a_partial}}
    </p>
    <p>
      This is a helper => {{customHelper name}}
    </p>-->
  </body>
</html>
